:root {
  --primary-color: #512da8; /* deep-purple darken-3 */
  --secondary-color: #673ab7; /* deep-purple lighten-1 */
  --light-bg: #f3e5f5; /* purple lighten-5 */
}

body {
  background-color: var(--light-bg);
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-primary:hover {
    background-color: #5e35b1; /* Um tom mais escuro */
    border-color: #5e35b1;
}

.card-header.bg-primary {
    color: white;
}

.card-title {
    color: var(--primary-color);
}